@media print {
  .Menu {
    display: none;
  }
  @page{
    margin: 25mm 25mm 25mm 25mm;
  }
}

@media screen and (max-width: 800px) {
  .Menu {
    margin: 2px 2px 2px 20px;
  }
  .Cv {
    margin: 2px 2px 2px 2px;
  }
}

@media screen and (min-width: 800px) {
  .Container {
    display: flex;
  }
  .Menu {
    margin: 2px 2px 2px 20px;
    position: fixed;
    width: 15%;
  }
  .Cv {
    flex: 1;
    margin: 2px 2px 2px 2px;
    width: 80%;
  }
}
