@media print {
  .Menu {
      display: none;
  }
}

@media screen {
  .Container {
    display: flex;
  }
  .Menu {
    margin: 2px 2px 2px 20px;
    position: fixed;
    width: 15%;
  }
  .Cv {
    flex: 1;
    margin: 2px 2px 2px 2px;
    width: 80%;
  }
}
