on:
  push: {}

jobs:
  ci-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install \
            --assume-yes \
            --no-install-recommends \
              leiningen
      - name: Unit Tests
        run: lein test
      - name: Integration Tests
        run: lein test :integration
      - name: End to End Tests
        env:
          CV_CREATOR_SPECS_INSTRUMENTED: "true"
        run: |
          lein run -m cv-creator.core/-main ../data/sample english | grep "Alain Térieur"
          lein run -m cv-creator.core/-main ../data/sample french | grep "Alex Térieur"
          lein run -m cv-creator.core/-main ../data/sample english computerScience | grep "Titus"
          ! lein run -m cv-creator.core/-main ../data/sample english | grep "Titus"

          lein run -m cv-creator.core/-main ../data/author english | grep "Kevin Lalumière"
          lein run -m cv-creator.core/-main ../data/author french | grep "Kevin Lalumière"
  
  ci-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml
          node-version: 24
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build

  ci-packaging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker build --pull .
